services:
  ptm_bmup_dashboard:
    container_name: ptm_bmup_dashboard
    build:
      context: .
      dockerfile: docker/vue/Dockerfile
      args:
        VITE_APP_BACKEND_URL: ${VITE_APP_BACKEND_URL}
        VITE_APP_BACKEND_URL_SETTING: ${VITE_APP_BACKEND_URL_SETTING}
        VITE_APP_BACKEND_URL_FINANCE: ${VITE_APP_BACKEND_URL_FINANCE}
        VITE_APP_APM_SERVER_URL: ${VITE_APP_APM_SERVER_URL}
        VITE_APP_NODE_ENV: ${VITE_APP_NODE_ENV}
  
  ptm_bmup_dashboard_nginx:
    container_name: ptm_bmup_dashboard_nginx
    build:
      context: .
      dockerfile: docker/nginx/Dockerfile
    ports:
      - "3100:80"
    depends_on:
      - ptm_bmup_dashboard
